.App {
  text-align: center;
  display: flex;
}

.App-logo {
  height: 3ch;
  pointer-events: none;
  padding: 0 0.5ch;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* #282c34 */
  background-color: #050517;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  flex: 1;
  padding: 20px;
}

.App-link {
  color: #61dafb;
}

.body {
  margin: 0;
  padding: 0;
  display: flex;
}

.Content-container {
  width: 100%;
  background: #282c34;
  display: flex;
  flex-direction: column;
}

.Main-content {
  flex: 1;
  padding: 20px;
}

.Rusty-text {
  color: #cf5c36;
  margin: 0;
}

.silver-text {
  color: #d3d5d7;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
