.contact-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 30%;
}

.contact-item {
    padding: 10px;
}

.rusty-header {
    font-size: 90px;
    color: #cf5c36;
    margin: 0;
}