/* src/stylesheets/Navbar.css */
.open-button {
  position: fixed;
  top: 15px;
  left: 15px;
  color: #7b838d;
  border: 1px solid #7b838d;
  background-color: #050517;
  padding: 7px 10px;
  border-radius: 0.5rem;
  cursor: pointer;
  z-index: 999;
}

.open-button i {
  font-size: 15px;
}

.sidebar {
  position: fixed;
  top: 0;
  left: -255px;
  width: 250px;
  height: 100%;
  background-color: #161b22;
  color: white;
  transition: left 0.3s ease;
  z-index: 1000;
  border: 2px solid #2a3037;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.sidebar.open {
  left: 0;
}

.sidebar-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.close-button {
  background: none;
  color: white;
  border: none;
  border-radius: 1rem;
  padding: 0.5rem;
  margin: 1rem;
  cursor: pointer;
  align-self: flex-end;
}

.close-button i {
  font-size: 24px;
}

.close-button:hover {
  background-color: #2a3037;
}

.sections-container {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

.sections-container li {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 1rem;
}

.sections-container li:hover {
  background-color: #555;
}

.section-item {
  display: flex;
  gap: 0.75rem;
  align-items: center;
}
