.container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
}
.container li {
    padding: 10px;
    color:#EFC88B;
    /* border-bottom: 1px solid #c45508; */
    transition: transform 0.3s ease;
    /* background-color: #2b323f; */
    margin: 0;
}    

.container li:hover {
    color: #CF5C36;
    transform: translateX(10px);
    /* background-color: #212630; */
}

.navbar {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}