/* sections container */
.sections-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
}

/* section li behavior */
.sections-container li {
    padding: 1ch;
    color:#EFC88B;
    transition: transform 0.3s ease;
    margin: 0;
}    

.sections-container li:hover {
    color: #CF5C36;
    transform: translateX(10px);
}

/* sidebar container */
.sidebar-container {
    display: flex;
    flex-direction: column;
}

.sidebar {
    width: 80%;
    height: 100%;
    position: fixed;
    top: 2ch;
    padding-left: 10%;
    left: -100%;
    transition: left 0.3s;
}

.sidebar.open {
    left: 0;
}

/* hamburger items */
.hamburger {
    font-size: 30px;
    cursor: pointer;
    background: none;
    border: none;
    color: white;
    padding: 10px 20px;
    position: fixed;
    top: 15px;
    left: 15px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 24px;
}

.hamburger .bar1,
.hamburger .bar2,
.hamburger .bar3 {
  width: 30px;
  height: 4px;
  background-color: white;
  transition: 0.4s;
}

.hamburger.open .bar1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.hamburger.open .bar2 {
  opacity: 0;
}

.hamburger.open .bar3 {
  transform: rotate(45deg) translate(-5px, -6px);
}
