.container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    list-style: none;
}
.container li {
    padding: 10px;
    color:bisque;
    border: None;
    
}

.container li:hover {
    color: #c45508;
}