.container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    list-style: none;
}
.container li {
    padding: 10px;
    color:bisque;
    border: None;
    transition: transform 0.3s ease;
}    


.container li:hover {
    color: #c45508;
    transform: translateX(10px);
}